body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 900px;
  margin: 30px;
}

button{
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: #f0c040;
  cursor: pointer;
}

.usestate{
  display: flex;
  flex-wrap: wrap;
}

.usestate div {
  margin-left: 20px;
}

.useeffect{
  display: flex;
  flex-wrap: wrap;
}

.useeffect div {
  margin-left: 20px;
}

.githubuser{
  display: flex;
  flex-wrap: wrap;

}

.githubuser li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 300px;
  height: 100px;
  background-color: rgb(233, 233, 233);
  margin: 10px;
}

.githubuser img{
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.text {
  line-height: 0%;
  text-decoration: none;
}
